.App {
  text-align: center;
  background-color: #2a273f;
  padding: 30px;
  margin: 30px;
}
*, *::after, *::before {
  box-sizing: border-box;
}
.btn-layout {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 20px;
}

.btn {
  width: 100px;
  height: 30px
}
.btn.btn-cancel {
  margin-left: auto;
}